@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide number input spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
/* PDF Safe Mode */
.pdf-mode,
.pdf-mode * {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #d1d5db !important;

  /* Prevent oklch() colors from Tailwind v4 */
  box-shadow: none !important;
  text-shadow: none !important;
}